@import '~@/wechat.less';

.formWrap {
  :global {
    .am-input-label-5 {
      width: 30px !important;
    }
  }
  .field {
    margin-bottom: 20px;

    .title {
      color: @color-base;
    }

    &:last-child {
      padding-top: 20px;
    }
  }
  .captchaItem {
    width: 60%;
    :global {
      .am-input-extra {
        max-height: none;
      }
    }
  }

  .subText {
    color: @color-caption;
  }

  .captchaBtn {
    width: 35%;
    font-size: 15px;
    color: @color-primary;
    &:before {
      border-color: @color-primary;
    }
  }

  .uploadRc {
    display: block;
    text-align: center;
  }

  .uploadText {
    background: rgb(240, 242, 242);
    color: @color-caption;
    line-height: 50px;
    padding-left: 20px;
  }

  @height: 160px;
  @width: 250px;

  .uploadWrap {
    width: @width;
    height: @height;
    background-size: contain;
    margin: 38px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .demo {
      width: 214px;
      height: 132px;
    }
    .uploadIcon {
      position: absolute;
      width: 58px;
      height: 58px;
    }

    :global {
      .am-image-picker {
        width: @width;
        height: @height;
        position: absolute;
        top: 0;
        left: 0;
      }
      .am-image-picker-list {
        width: @width;
        height: @height;
        position: absolute;
        overflow: hidden;
        padding: 0;
        margin-bottom: 0;
      }
      .am-flexbox-item {
        height: @height;
      }
      .am-image-picker-item {
        position: absolute;
        top: 0;
        width: @width;
        transform: translateY(0);
      }
      .am-image-picker-upload-btn {
        border: none;
        background: transparent;
        &::after,
        &::before {
          display: none;
        }
      }
    }
  }
}

.uploadLoading {
  display: block;
  position: absolute;
  width: 214px;
  height: 132px;
  background: #666;
  opacity: 0.43;
  border-radius: 10px;
  text-align: center;
  .icon {
    position: relative;
    top: 50%;
    margin-top: -30px;
  }
}

:global {
  .am-notice-bar {
    margin-bottom: 10px;
    z-index: 1000;
  }
}
