.unpaidList {
  :global {
    .antd-pro-components-charts-field-index-label {
      display: inline-block;
      min-width: 60px;
      text-align: right;
      margin-bottom: 5px;
    }
  }
}

.settlementBtn {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.total {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  li {
    display: inline-block;
  }
  .divier{
    margin: 0 20px !important
  }
}
