.unpaidList {
  :global {
    .antd-pro-components-charts-field-index-label {
      display: inline-block;
      min-width: 60px;
      text-align: right;
      margin-bottom: 5px;
    }
  }
}

.settlementBtn {
  width: 80%;
  display: block;
  margin: 0 auto;
}
