<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <!-- 当前环境：生成环境还是开发环境-->
  <meta name="env" content="<%= context.env %>">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- 强制显示方式 -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <!-- 允许全屏 -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <!-- 顶端状态条样式 -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <!-- 忽略将数字变为电话号码 -->
  <meta content="telephone=no" name="format-detection">
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- qq强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- uc强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- qq强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- uc应用模式 -->
  <meta name="browsermode" content="application">
  <!-- qq应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">

  <% if(context.env !== 'production') { %>
  <script crossorigin="anonymous" integrity="sha384-Syuu42tkQgszyxNSHWSh4xouXRhTwTLEj9qTUCa3YPdoZYLOIGmFq6z1VTMjS8KL" src="https://lib.baomitu.com/vConsole/3.3.0/vconsole.min.js"></script>
  <!-- <script>var vConsole = new VConsole();</script> -->
  <% } %>
</head>
<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>
</body>
</html>
