@import '~@/wechat.less';
@import '~@/utils/utils.less';

.wrap {
  &.detail {
    padding-bottom: 60px;
  }

  .carousel {
    margin-bottom: 10px;
    :global {
      .slider-list {
        height: 150px !important;
      }
    }
    .item {
      display: inline-block;
      width: 100%;
      border-radius: 4px;

      img {
        height: 100%;
        width: 100%;
        vertical-align: top;
        border-radius: 4px;
      }
    }
  }

  .content {
    .column {
      column-count: 2; // 设置显示2列
      -webkit-column-count: 2;
      -o-column-count: 2;
      -ms-column-count: 2;
      -moz-column-count: 2;

      column-gap: 6px; //设置或检索对象的列与列之间的间隙
      -webkit-column-gap: 6px;
      -o-column-gap: 6px;
      -ms-column-gap: 6px;
      -moz-column-gap: 6px;

      width: 100%;
    }

    .item {
      width: 100%;
      margin-bottom: 10px;
      border-radius: 6px;

      -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
      page-break-inside: avoid; /* Firefox */
      break-inside: avoid; /* IE 10+, Chrome, Safari, Opera */

      :global {
        .am-card {
          padding-bottom: 0 !important;
        }
        .am-card-footer {
          height: 43px;
          line-height: 43px;
        }
      }

      .header {
        img {
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          height: 95px;
          width: 100%;
          display: block;
        }
      }

      .title {
        font-size: 15px;
        color: @color-base;
        .line-clamp(2);
        margin-bottom: 4px;
      }

      .desc {
        color: @color-caption;
        font-size: 13px;
      }

      .money {
        font-size: 14px;
        font-weight: bold;
        color: rgb(255, 52, 52);
      }

      .extra {
        font-size: 12px;
        color: @color-caption; // 辅助色

        .icon {
          width: 10px;
          height: 10.5px;
          margin-right: 4px;
        }
      }
    }
  }
}

.article {
  .header {
    margin-bottom: 22px;

    .title {
      font-size: 15px;
      color: @color-base;
      margin-bottom: 22px;
    }
    .caption {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      color: @color-caption;
    }
  }
  .content {
    img {
      display: block;
      max-height: 200px;
      width: 100%;
      margin-bottom: 10px;
    }
  }
  // 页面底部的签约按钮等
  .operate {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    line-height: 60px;
    background: #fff;

    .operateItem {
      width: 50%;
      text-align: center;
      font-size: 15px;
      .integral {
        color: rgb(255, 52, 52);
        font-weight: bold;
        padding: 0 4px;
      }
      .btn {
        display: block;
        background: rgb(255, 52, 52);
        color: #fff;
      }
    }
  }
}

.signingWrap {
  .signing {
    background: #fff;
    padding: 20px;

    .title {
      font-size: 14px;
      color: @color-caption;
      display: flex;
      justify-content: space-between;

      & > span {
        width: 68px;
        height: 25px;
        border-radius: 25px / 2;
        border: 1px solid @color-primary;
        color: @color-primary;
        text-align: center;
        line-height: 25px;
      }
    }

    .address {
      padding: 20px 0;
      color: @color-base;
    }

    .time {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      border-top: 1px solid @color-border;

      .label {
        color: @color-caption;
      }

      .value {
        color: @color-base;
      }
    }

    .clause {
      padding: 14px 0 0;
      border-top: 1px solid @color-border;
      :global {
        .am-checkbox-agree {
          font-size: 14px !important;
          margin-left: 0;
        }
        .am-checkbox-agree-label {
          color: @color-caption;
        }
      }
    }
  }

  .operate {
    position: fixed;
    left: 5%;
    justify-content: space-around;
    bottom: 30px;
    width: 90%;
    display: flex;

    .operateItem {
      width: 45%;
      text-align: center;
      font-size: 15px;
      height: 44px;
      line-height: 44px;

      & > span {
        border-radius: 4px;
        display: block;
      }

      .btnCancel {
        background: rgb(231, 223, 222);
      }

      .btnOk {
        background: rgb(255, 52, 52);
        color: #fff;
      }
    }
  }
}

.popupWrap {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  :global {
    .weui-popup__hd {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .weui-popup__action {
      color: @color-base;
    }
    .am-list-content {
      white-space: normal !important;
      padding-top: 15px !important;
      padding-bottom: 15px !important;
    }
    .am-checkbox-inner {
      top: 20px !important;
    }
  }
  .popOk {
    color: @color-primary;
  }
}
